# Writing data to and reading data from a Database using Python

## Libraries and settings

In [14]:
# Libraries
import os
import sqlite3
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/data_analytics/Week_02

## Create sqlite data base

In [15]:
# Create data base
conn = sqlite3.connect('supermarkets_database.db') 
cursor = conn.cursor()

# Show dbs in the directory
flist = fnmatch.filter(os.listdir('.'), '*.db')
for i in flist:
    print(i)

apartment_database.db
supermarkets_database.db

## Create SQL-table in the database

In [16]:

cursor.execute('''CREATE TABLE IF NOT EXISTS supermarkets_table (
    id INT PRIMARY KEY,
    brand VARCHAR(200),
    city VARCHAR(200),
    street VARCHAR(200),
    housenumber VARCHAR(50),
    postcode VARCHAR(10)
)''')

# Confirm changes to the table
conn.commit()

## Read data from file to data frame

In [17]:
df = pd.read_csv('supermarkets_data_prepared.csv', 
                  sep=',', 
                  encoding='utf-8')[['id', 'brand', 'city', 'street', 'housenumber', 'postcode']]
print(df.shape)
df.head(5)

(3392, 6)

         id   brand    city          street housenumber  postcode
0  33126515    Spar     NaN             NaN         NaN       NaN
1  36726161  Migros  Uznach  Zürcherstrasse          25    8730.0
2  39768209    Coop  Uznach             NaN         NaN    8730.0
3  39947904    Coop  Zürich   Bahnhofbrücke           1    8001.0
4  48932835  Migros  Zürich    Wengistrasse           7    8004.0

## Write data to the SQL-table in data base

In [18]:
df.to_sql(name = 'supermarkets_table',
          con = conn,
          index = False,
          if_exists = 'replace')

3392

## Query the SQL-table

In [27]:
# Query the SQL-table
cursor.execute('''SELECT *
               FROM supermarkets_table
               WHERE city = 'Winterthur'
              ''')

df = pd.DataFrame(cursor.fetchall(), 
                  columns=['id', 'brand', 'city', 'street', 'housenumber', 'postcode'])    

df.head(5)

          id   brand        city               street housenumber  postcode
0   70656488  Migros  Winterthur       Zürcherstrasse         102    8406.0
1  246533376  Migros  Winterthur  Schaffhauserstrasse         152    8400.0
2  548919417  Migros  Winterthur    Wülflingerstrasse          71    8400.0
3  677194765    None  Winterthur  Frauenfelderstrasse          69    8404.0
4  706203439    None  Winterthur          Bankstrasse        8/12    8400.0

## Plot histogramm of rental prices

In [20]:
df.Price.plot.hist(grid=True, 
                   bins=20, 
                   rwidth=0.9,
                   color='#607c8e')
plt.title('Apartment price')
plt.xlabel('Price')
plt.ylabel('Frequency')
plt.grid(axis='y', alpha=0.75)

AttributeError: 'DataFrame' object has no attribute 'Price'

## Close db connection (if open)

In [ ]:
# Close db connection (if open)
try:
    if check_conn(conn):
        conn.close()
    else:
        pass
except:
    pass

# Status (True = open, False = closed)
print(check_conn(conn))

False

### Jupyter notebook --footer info-- (please always provide this at the end of each submitted notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Linux | 5.15.0-1041-azure
Datetime: 2023-09-26 18:37:15
Python Version: 3.10.13
-----------------------------------